---
---

<div class=" my-10">
    <h1 class="text-center pacifico-regular text-[#c95dc9] px-8 font-bold text-[25px] ">Estas invitado a compratir y disfrutar de mi fiesta de cumpleaños, el día 26 de Enero a las 18:00</h1>
	<h2 class="m-auto pacifico-regular text-white text-[25px] my-10 text-center">Falta para mi fiestita:</h2>
</div>

<style>
    .pacifico-regular {
		font-family: "Pacifico", serif;
		font-weight: 400;
		font-style: normal;
	}
</style>